<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <title>Dokhaebi</title>
</head>
<body>
<div class='main' id=''>
        <div class='flex split' id=''>
          <!-- 왼쪽 상태바 start -->
          <div class='left_body' id='left_body'> 
            
          </div>

          <!-- 왼쪽 상태바 end -->
          <!-- 오른쪽 상태바 -->
          <div class='right_body ' id='right_body'>
        <!-- header start -->
            <div class='header' id=''>
                <div class='header_title' id=''>
                    <h2>Chat Dokhaebi</h2>
                </div>
            </div>

        <!-- header end -->

            <div class="chatBox" id="chatBox">
                <!-- Chat messages will be appended here -->
                
            </div>
               
            <div class='' id=''>
                <div class="input-group" id="userInput">
                    <input type="text" class="input" id="message" placeholder="Please message...">
                    <button id="sendBtn" class="btn"><i class="fas fa-paper-plane" ></i></button>
                </div>
    
                <div class="input-group" id="userInput2" style="display: none;">
                    <input type="text" class="input" id="message2" placeholder="Please message...">
                    <button id="sendBtn2" class="btn"><i class="fas fa-paper-plane" ></i></button>
                </div>
            </div>

        </div>
          <!-- 오른쪽 상태바 end -->
          <script src="https://unpkg.com/split.js@1.6.0/dist/split.min.js"></script>
          <script>
            // Split.js 초기화
            Split(['#left_body', '#right_body'], {
              sizes: [65, 35], // 초기 패널 사이즈 설정 (50%씩)
              minSize: [20, 400], // 패널의 최소 크기 설정
              gutterSize: 5 // 패널 사이의 거터 크기 설정
            });
          </script>
          <script>
            document.addEventListener('DOMContentLoaded', function() {
                const chatBox = document.getElementById('chatBox');
    
                const inputFirst = document.getElementById("userInput");
                const messageInput = document.getElementById("message");
                const sendBtn = document.getElementById("sendBtn");
    
                const inputSecond = document.getElementById("userInput2");
                const messageInputSecon = document.getElementById("message2");
                const sendEvid = document.getElementById("sendBtn2");
    
                let xhr;
                var answerBox = "";
                var article = "";
    
                function getRandomQuestion() {
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', '/random_question', true);
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                var response = JSON.parse(xhr.responseText);
                                document.getElementById('left_body').innerText = response.question;
                                answerBox = response.answer;
                                article = response.question;
                            } else {
                                console.error('요청 실패: ' + xhr.status);
                            }
                        }
                    };
                    xhr.send();
                }
    
                getRandomQuestion();
    
                messageInput.addEventListener("keyup", (e) => {
                    if (e.keyCode === 13) {
                        sendMessage();
                    }
                });
    
                messageInputSecon.addEventListener("keyup", (e) => {
                    if (e.keyCode === 13) {
                        sendEvidence();
                    }
                });

                sendBtn.addEventListener('click', sendMessage);
                sendEvid.addEventListener('click', sendEvidence);
    
                function sendMessage() {
                    console.log("답안: "+answerBox);
                    if (sendBtn.innerHTML === '<i class="fas fa-times"></i>') {
                        xhr.abort();
                    }
        
                    let message = messageInput.value;
                    if (!message.trim()) return;
        
                    // Display user message
                    var userMessage = document.createElement('div');
                    userMessage.classList.add("userInput");
                    userMessage.textContent = message;
                    chatBox.appendChild(userMessage);
        
                    // 스크롤바 하단으로 이동
                    chatBox.scrollTop = chatBox.scrollHeight;
        
                    // Send message to server
                    xhr = new XMLHttpRequest();
                    
                    xhr.onreadystatechange = function () {
                        if(xhr.readyState === XMLHttpRequest.OPENED) {
                            console.log("답변 가져오기를 기다리는 중");
                            messageInput.disabled = true;
                            // sendBtn.disabled = true;
                            messageInput.value = "답변 가져오는 중...";
                            sendBtn.innerHTML = '<i class="fas fa-times"></i>';
                        }
        
                        if(xhr.readyState === XMLHttpRequest.DONE) {
                            console.log("요청 종료됨");
                            messageInput.disabled = false;
                            sendBtn.disabled = false;
                            messageInput.value = message;
                            sendBtn.innerHTML = "<i class='fas fa-paper-plane'></i>"
                            if (xhr.status === 200) {
                                // Display chatbot response
                                console.log("정상적으로 답변 가져옴");
                                var response = JSON.parse(xhr.responseText);
                                var botMessage = document.createElement('div');
                                botMessage.classList.add("answer")
                                botMessage.textContent = response.feedback;
                                chatBox.appendChild(botMessage);
                                inputFirst.style.display = 'none'; 
                                inputSecond.style.display = 'block'; 
                                
                                // Scroll to the bottom of the chat box
                                chatBox.scrollTop = chatBox.scrollHeight;
                            } else if (xhr.status === 0) {
                                console.log("답변 가져오기 중지함");
                                messageInput.disabled = false;
                                messageInput.value = "";
                                sendBtn.innerHTML = "<i class='fas fa-paper-plane'></i>";
                                chatBox.scrollTop = chatBox.scrollHeight;
                            } else {
                                alert('Error: ' + xhr.status);
                                chatBox.scrollTop = chatBox.scrollHeight;                        
                            }
                        }
                    };
                    xhr.open('POST', '/chat', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(JSON.stringify({ user_input: message , target_title : answerBox }));
                } 
                
                function sendEvidence() {
                    console.log("주제: "+answerBox);
                    console.log("생각한 주제: "+ messageInput.value);
                    if (sendEvid.innerHTML === '<i class="fas fa-times"></i>') {
                        xhr.abort();
                    }
        
                    let message = messageInputSecon.value;
                    if (!message.trim()) return;

        
                    // Display user message
                    var userMessage = document.createElement('div');
                    userMessage.classList.add("userInput");
                    userMessage.textContent = message;
                    chatBox.appendChild(userMessage);
        
                    // 스크롤바 하단으로 이동
                    chatBox.scrollTop = chatBox.scrollHeight;
        
                    // Send message to server
                    xhr = new XMLHttpRequest();
                    
                    xhr.onreadystatechange = function () {
                        if(xhr.readyState === XMLHttpRequest.OPENED) {
                            console.log("답변 가져오기를 기다리는 중");
                            messageInputSecon.disabled = true;
                            // sendBtn.disabled = true;
                            messageInputSecon.value = "답변 가져오는 중...";
                            sendEvid.innerHTML = '<i class="fas fa-times"></i>';
                        }
        
                        if(xhr.readyState === XMLHttpRequest.DONE) {
                            console.log("요청 종료됨");
                            messageInputSecon.disabled = false;
                            sendEvid.disabled = false;
                            messageInputSecon.value = "";
                            sendEvid.innerHTML = "<i class='fas fa-paper-plane'></i>"
                            if (xhr.status === 200) {
                                // Display chatbot response
                                console.log("정상적으로 답변 가져옴");
                                var response = JSON.parse(xhr.responseText);
                                var botMessage = document.createElement('div');
                                botMessage.classList.add("answer")
                                botMessage.textContent = response.feedback;
                                chatBox.appendChild(botMessage);
                                inputFirst.style.display = 'none'; 
                                inputSecond.style.display = 'block'; 
                                
                                // Scroll to the bottom of the chat box
                                chatBox.scrollTop = chatBox.scrollHeight;
                            } else if (xhr.status === 0) {
                                console.log("답변 가져오기 중지함");
                                messageInputSecon.disabled = false;
                                messageInputSecon.value = "";
                                sendEvid.innerHTML = "<i class='fas fa-paper-plane'></i>";
                                chatBox.scrollTop = chatBox.scrollHeight;
                            } else {
                                alert('Error: ' + xhr.status);
                                chatBox.scrollTop = chatBox.scrollHeight;                        
                            }
                        }
                    };
                    xhr.open('POST', '/feedback', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(JSON.stringify({ user_input: message, user_title : messageInput.value , target_article : article , target_title : answerBox }));
                }
            });
            </script>
    </div>
</div>    

</body>
</html>