<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <title>Dokhaebi</title>

</head>

<body>

<!-- 상단 로고 배치 -->
  <div class="logo_wrap" id="" >
    <div class="logo_img" aria-relevant="">
      <img src="/static/11.png" alt="logo_img" width= 100px; margin: auto; display: block;/>
    </div>
    <div class="logo_text">
        <p class="logo-text">도캐비</p>
    </div>
  </div>

<!-- 메인 페이지 하단div -->
  <div class="middlebox">

  <!-- 캘린더 -->
    <div class="calendar">
      <img src="/static/64873195.jpg" alt="calendar" margin: auto; display: block; />
    </div>
  <!-- 문제 풀이 페이지로 이동 버튼 -->
  <a href="http://127.0.0.1:8000/two" class="test_btn">문제 페이지로 이동</a>

  </div>
  
</body>

</html>